@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
@import "tools/reset";
@import "tools/function";
@import "tools/mixins";
@import "components/button.scss";

*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--background);
  color: var(--typo-color) !important;
  height: 100vh;
  width: 100vw;
  scrollbar-width: thin;
  scrollbar-color: var(--purple);
}
:root {
  --space: 8px;
  --purple: #7c5dfa;
  --purple-hover: #9277ff;
  --light-purple: #9277ff;
  --background: #f8f8fb;
  --red: #ec5757;
  --light-red: #ff9797;
  --white: #ffffff;
  --grey: #858bb2;
  --label: #7E88C3;
  --typo-color: #0c0e16;
  --background-nav: #1e2139;
  --item-invoice: #ffffff;
  --nav-width-lg: 103px;
  --input-background: #ffffff;
  --input-border: #dfe3fa;
  --cancel-bg: #f9fafe;
  --discard-bg: #f9fafe;
  --placeholder: #858bb2;
}
@include dark() {
  --background: #141625;
  --typo-color: #ffffff;
  --input-background: #1e2139;
  --item-invoice: #1e2139;
  --input-border: #252945;
  --placeholder: #858bb2;
  --label: #DFE3FA;
  --cancel-bg: #252945;
}

.title {
  font-size: 32px;
  letter-spacing: 1px;
  @include down(1024) {
    font-size: 20px;
  }
}
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
input[type=checkbox],
input[type=radio] {
  position: relative;
  border: 1px solid transparent;
  border-radius: 2px;
  background: var(--background);
  cursor: pointer;
  line-height: 0;
  outline: 0;
  padding: 0 !important;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  opacity: 0.5;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--purple);
  opacity: 1;
}

::-webkit-scrollbar-track {
  background-color: rgb(53, 50, 50);
}

::-webkit-scrollbar {
  width: 4px;
  scrollbar-color: var(--purple);
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #000;
}
